@if (currentQuestion$ | async; as question) {
<mat-expansion-panel [hideToggle]="true" [(expanded)]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title-container">
        <div class="title">
          {{ question.title }}
        </div>
        @if(question.subtitle) {
        <div class="subtitle">{{ question.subtitle }}</div>
        }
      </div>
    </mat-panel-title>
    <mat-panel-description
      >({{ question.answers.length }})</mat-panel-description
    >
  </mat-expansion-panel-header>
  <div>
    <ul>
      @for (answer of question.answers; track $index) {
      <li>
        {{ answer }}
      </li>
      }
    </ul>
  </div>
</mat-expansion-panel>
}
