.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    width: 100%;
    .nav-container {
        display: flex;
        align-items: center;
        .nav-page-number {
            padding: 0 8px;
        }
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    margin: 32px auto 0;
}

.panel-class {
    width: 140px;
}

::ng-deep .review-mode-checkbox .mdc-label {
    width: 100px;
}