<mat-toolbar color="primary">
  <button
    mat-icon-button
    routerLink="/"
    [queryParams]="{}"
    queryParamsHandling=""
  >
    <mat-icon>home</mat-icon>
  </button>
  <div class="toolbar-container">
    <span>Volleyball Study Guide</span>
    @if (questionId$ | async; as questionId) {
    <div class="nav-container">
      @if (questionId > 1) {
      <button mat-icon-button (click)="handleNavBack()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      }
      <span class="nav-page-number">{{ questionId }}</span>
      @if (questionId < maxQuestionId) {
      <button mat-icon-button (click)="handleNavForward()">
        <mat-icon>arrow_right</mat-icon>
      </button>
      }
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <mat-checkbox
          class="review-mode-checkbox"
          [checked]="reviewMode$ | async"
          (change)="handleReviewModeChange($event)"
          >Review mode</mat-checkbox
        >
      </mat-menu>
    </div>
    }
  </div>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
